# API
APP_NAME=Foldex API
ENVIRONMENT=local

# LLM
ANTHROPIC_API_KEY=
CLAUDE_MODEL=claude-3-5-sonnet-latest

# External services
ENSEMBL_REST_BASE_URL=https://rest.ensembl.org
GNOMAD_GRAPHQL_URL=https://gnomad.broadinstitute.org/api
UNIPROT_REST_BASE_URL=https://rest.uniprot.org
ALPHAFOLD_API_BASE_URL=https://alphafold.ebi.ac.uk/api
NCBI_EUTILS_BASE_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils
NCBI_API_KEY=
